 <div class="author-box">
            <div class="author-img"><img alt="" src="./post_files/45e871cb00e2fcce3298888aa8b3c060" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/110997-ld-300x300.jpg" class="avatar avatar-100 photo" height="100" width="100"></div>
               <h4 class="author-name">আসিফ মহিউদ্দীন</h4>
               <p class="author-description">সম্পাদক
admin@nastikya.com</p>
         </div>
