<footer id="colophon" class="clearfix">

<div class="footer-widgets-wrapper">
<div class="inner-wrap">
<div class="footer-widgets-area clearfix">
 <div class="tg-footer-main-widget">
<div class="tg-first-footer-widget">
  <aside id="archives-4" class="widget widget_archive clearfix"><h3 class="widget-title"><span>বিজ্ঞাপন</span></h3>		<ul>



</ul>
</aside>   			</div>
 </div>
 <div class="tg-footer-other-widgets">
<div class="tg-second-footer-widget">
          </div>
    <div class="tg-third-footer-widget">
                   </div>
    <div class="tg-fourth-footer-widget">
       <aside id="text-4" class="widget widget_text clearfix"><h3 class="widget-title"><span>আমাদের উদ্দেশ্য</span></h3>			<div class="textwidget">জ্ঞান যেখানে সীমাবদ্ধ, যুক্তি যেখানে আড়ষ্ট, মুক্তি সেখানে অসম্ভব।</div>
</aside>            </div>
 </div>
</div>
</div>
</div>			<div class="footer-socket-wrapper clearfix">
<div class="inner-wrap">
  <div class="footer-socket-area">
          <div class="footer-socket-right-section">
        <div class="social-links clearfix">
<ul>
<li><a href="http://www.facebook.com/atheist.asif" ><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/iamasifm" ><i class="fa fa-twitter"></i></a></li><li><a href="https://plus.google.com/109690701521478744635" ><i class="fa fa-google-plus"></i></a></li>		</ul>
</div><!-- .social-links -->
            </div>
          <div class="footer-socket-left-sectoin">
      <div class="copyright">Copyright &copy; 2017 <a href="http://www.nastikya.com/" title="নাস্তিক্যবাদ" ><span>আসিফ মহিউদ্দীন</span></a>. All rights reserved.</div>                  </div>
  </div>
</div>
</div>
</footer>
