<head>

<title>নাস্তিক্যবাদ - একটি ঈশ্বরহীন মানবিক পৃথিবীর লক্ষ্যে...</title>





<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel='stylesheet' id='colormag_style-css'  href='{{site.baseurl}}/css/style.css' type='text/css' media='all' />

<script type='text/javascript' src='{{site.baseurl}}/js/jquery.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/if_gmap_front_end.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/calendar.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/calendar_function.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/colormag-custom.js'></script>
<!--[if lte IE 8]>
<script type='text/javascript' src='{{site.baseurl}}/js/html5shiv.min.js?ver=4.7.2'></script>
<![endif]-->

<link rel="icon" href="http://www.nastikya.com/wp-content/uploads/2017/01/cropped-logo-32x32.png" sizes="32x32" />
<link rel="icon" href="http://www.nastikya.com/wp-content/uploads/2017/01/cropped-logo-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://www.nastikya.com/wp-content/uploads/2017/01/cropped-logo-180x180.png" />
<meta name="msapplication-TileImage" content="http://www.nastikya.com/wp-content/uploads/2017/01/cropped-logo-270x270.png" />
</head>
