<header id="masthead" class="site-header clearfix">
<div id="header-text-nav-container" class="clearfix">
                 <div class="news-bar">
           <div class="inner-wrap clearfix">
                 <div class="date-in-header">

<script language="JavaScript">
function mdy(todaysdate) {
//calls the function mdy why to get our date
return todaysdate.getMonth()+1+"-"+todaysdate.getDate()+"-"+2017
}
</script>
</head>
<body>
<script language="JavaScript">
sampleDate1=new Date()
document.write ("আজকের তারিখঃ "+ mdy(sampleDate1))
</script>


</div>

                 <div class="breaking-news">
  <strong class="breaking-news-latest">Latest:</strong>
  <ul class="newsticker">
          
           <li>
        <a href="http://www.nastikya.com/archives/480" title="ইসলামের পৌত্তলিক ভিত্তি">ইসলামের পৌত্তলিক ভিত্তি</a>
     </li>
        </ul>
</div>

                <div class="social-links clearfix">
<ul>
<li><a href="http://www.facebook.com/atheist.asif" ><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/iamasifm" ><i class="fa fa-twitter"></i></a></li><li><a href="https://plus.google.com/109690701521478744635" ><i class="fa fa-google-plus"></i></a></li>		</ul>
</div><!-- .social-links -->
             </div>
        </div>


  <div class="inner-wrap">

    <div id="header-text-nav-wrap" class="clearfix">
      <div id="header-left-section">
                    <div id="header-text" class="">
                                  <h1 id="site-title">
              <a href="{{site.baseurl}}/" title="নাস্তিক্যবাদ" rel="home">নাস্তিক্যবাদ</a>
            </h1>
                                                      <p id="site-description">একটি ঈশ্বরহীন মানবিক পৃথিবীর লক্ষ্যে&#8230;</p>
                 <!-- #site-description -->
        </div><!-- #header-text -->
      </div><!-- #header-left-section -->
      <div id="header-right-section">
                    <div id="header-right-sidebar" class="clearfix">
        <aside id="text-3" class="widget widget_text clearfix"><h3 class="widget-title">শ্রদ্ধা জানাই</h3>			<div class="textwidget">সকল মুক্তমনা লেখক, ব্লগার, কবি, সাহিত্যিককে। </div>

</aside>						</div>
                    </div><!-- #header-right-section -->

     </div><!-- #header-text-nav-wrap -->

  </div><!-- .inner-wrap -->


  <nav id="site-navigation" class="main-navigation clearfix" role="navigation">
    <div class="inner-wrap clearfix">
                        <div class="home-icon front_page_on">
                 <a href="{{site.baseurl}}/" title="নাস্তিক্যবাদ"><i class="fa fa-home"></i></a>
              </div>
                             <h4 class="menu-toggle"></h4>
           <div class="menu-primary-container"><ul id="menu-home" class="menu"><li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="{{site.baseurl}}/news.html">খবর</a></li>
<li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="{{site.baseurl}}/history.html">ইতিহাস</a></li>
<li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="{{site.baseurl}}/philosophy.html">দর্শন</a></li>
<li id="menu-item-390" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390"><a href="http://www.nastikya.com/theism">আস্তিক্য</a></li>
<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="{{site.baseurl}}/library.html">লাইব্রেরি</a></li>
<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="{{site.baseurl}}/faq.html">প্রশ্নোত্তর</a></li>
<li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a href="http://www.nastikya.com/form">লেখা পাঠান</a></li>
<li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="{{site.baseurl}}/editor.html">সম্পাদক</a></li>
</ul></div>                                               
              
                  </div>
  </nav>

</div><!-- #header-text-nav-container -->


</header>
