<div id="main" class="clearfix">
		<div class="inner-wrap clearfix">

<div id="primary">
		<div id="content" class="clearfix">

<div class="article-content clearfix">
<header class="entry-header">
   		<h1 class="entry-title"> {{ page.title }}</h1></header>


      <span class="newsdate">{{page.date|date: "%-d %b %Y" }}</span>


{{ content }}</div></div></div>

{% include sidebar.html %}
{% include asif.html %}</div></div>


