<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-90273120-1', 'auto');
	ga('send', 'pageview');

<script type='text/javascript' src='http://www.nastikya.com/wp-includes/js/admin-bar.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/widget.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/core.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/mouse.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/slider.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/button.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/spinner.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/effect.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/effect-shake.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/datepicker.min.js'></script>
<script type='text/javascript'>
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>


<script type='text/javascript' src='{{site.baseurl}}/js/jquery.bxslider.min.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/colormag-slider-setting.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/navigation.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/ticker-setting.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/fitvids-setting.js'></script>
<script type='text/javascript' src='{{site.baseurl}}/js/jquery.fitvids.js'></script>

<script type='text/javascript' src='http://www.nastikya.com/wp-includes/js/wp-embed.min.js'></script>
	<!--[if lte IE 8]>
		<script type="text/javascript">
			document.body.className = document.body.className.replace( /(^|\s)(no-)?customize-support(?=\s|$)/, '' ) + ' no-customize-support';
		</script>
	<![endif]-->
	<!--[if gte IE 9]><!-->

	<!--<![endif]-->
