<div id="secondary">

		<aside id="colormag_featured_posts_vertical_widget-3" class="widget widget_featured_posts widget_featured_posts_vertical widget_featured_meta clearfix">      <h3 class="widget-title" style="border-bottom-color:;"><span style="background-color:;">সাম্প্রতিক লেখা</span></h3>                                 <div class="first-post">               <div class="single-article clearfix">
                  <figure><a href="http://www.nastikya.com/archives/545" title="সবকিছু জেনে ফেলা?"><img width="390" height="205" src="http://www.nastikya.com/wp-content/uploads/2017/01/072-science-is-not-religion-650x487-620x350-390x205.png" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt="সবকিছু জেনে ফেলা?" title="সবকিছু জেনে ফেলা?" /></a></figure>                  <div class="article-content">
                     <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                     <h3 class="entry-title">
                        <a href="http://www.nastikya.com/archives/545" title="সবকিছু জেনে ফেলা?">সবকিছু জেনে ফেলা?</a>
                     </h3>
                     <div class="below-entry-meta">
                        <span class="posted-on"><a href="http://www.nastikya.com/archives/545" title="11:36 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-30T11:36:08+00:00">January 30, 2017</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/545#respond">0</a></span>
                     </div>
                                          <div class="entry-content">
                        <p>সেদিন একজন ইনবক্সে প্রশ্নগুলো করেছেন। সেগুলোর উত্তর দিচ্ছি। ১) আপনি কী মনে করেন, আপনি একজন মুক্তমনা হয়ে গেছেন? &gt; না,</p>
                     </div>
                                       </div>

               </div>
            </div>                                 <div class="following-post">               <div class="single-article clearfix">
                  <figure><a href="http://www.nastikya.com/archives/460" title="মানবিক গ্রন্থ কোরান?"><img width="130" height="90" src="http://www.nastikya.com/wp-content/uploads/2017/01/hate-speech-130x90.png" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="মানবিক গ্রন্থ কোরান?" title="মানবিক গ্রন্থ কোরান?" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/hate-speech-130x90.png 130w, http://www.nastikya.com/wp-content/uploads/2017/01/hate-speech-392x272.png 392w" sizes="(max-width: 130px) 100vw, 130px" /></a></figure>                  <div class="article-content">
                     <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                     <h3 class="entry-title">
                        <a href="http://www.nastikya.com/archives/460" title="মানবিক গ্রন্থ কোরান?">মানবিক গ্রন্থ কোরান?</a>
                     </h3>
                     <div class="below-entry-meta">
                        <span class="posted-on"><a href="http://www.nastikya.com/archives/460" title="10:31 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T10:31:14+00:00">January 26, 2017</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/460#respond">0</a></span>
                     </div>
                                       </div>

               </div>
                                                            <div class="single-article clearfix">
                  <figure><a href="http://www.nastikya.com/archives/454" title="অমুসলিমরা জাহান্নামী?"><img width="130" height="90" src="http://www.nastikya.com/wp-content/uploads/2017/01/1424476_602893093091456_1799690376_n-130x90.jpg" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="অমুসলিমরা জাহান্নামী?" title="অমুসলিমরা জাহান্নামী?" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/1424476_602893093091456_1799690376_n-130x90.jpg 130w, http://www.nastikya.com/wp-content/uploads/2017/01/1424476_602893093091456_1799690376_n-392x272.jpg 392w" sizes="(max-width: 130px) 100vw, 130px" /></a></figure>                  <div class="article-content">
                     <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                     <h3 class="entry-title">
                        <a href="http://www.nastikya.com/archives/454" title="অমুসলিমরা জাহান্নামী?">অমুসলিমরা জাহান্নামী?</a>
                     </h3>
                     <div class="below-entry-meta">
                        <span class="posted-on"><a href="http://www.nastikya.com/archives/454" title="9:33 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T09:33:02+00:00">January 26, 2017</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/454#respond">0</a></span>
                     </div>
                                       </div>

               </div>
                                                            <div class="single-article clearfix">
                  <figure><a href="http://www.nastikya.com/archives/451" title="কোন কিছুর না থাকার প্রমাণ কী?"><img width="130" height="90" src="http://www.nastikya.com/wp-content/uploads/2017/01/believer5-130x90.jpg" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="কোন কিছুর না থাকার প্রমাণ কী?" title="কোন কিছুর না থাকার প্রমাণ কী?" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/believer5-130x90.jpg 130w, http://www.nastikya.com/wp-content/uploads/2017/01/believer5-392x272.jpg 392w" sizes="(max-width: 130px) 100vw, 130px" /></a></figure>                  <div class="article-content">
                     <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%86%e0%a6%b8%e0%a7%8d%e0%a6%a4%e0%a6%bf%e0%a6%95%e0%a7%8d%e0%a6%af"  rel="category tag">আস্তিক্য</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;</span></div>                     <h3 class="entry-title">
                        <a href="http://www.nastikya.com/archives/451" title="কোন কিছুর না থাকার প্রমাণ কী?">কোন কিছুর না থাকার প্রমাণ কী?</a>
                     </h3>
                     <div class="below-entry-meta">
                        <span class="posted-on"><a href="http://www.nastikya.com/archives/451" title="6:31 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-25T18:31:20+00:00">January 25, 2017</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/451#respond">0</a></span>
                     </div>
                                       </div>

               </div>
                     </div>      </aside><aside id="colormag_featured_posts_slider_widget-6" class="widget widget_featured_slider widget_featured_meta clearfix">               <div class="widget_slider_area_rotate">
                     <div class="single-slide displayblock">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/552" title="বিচার বহির্ভূত হত্যাকাণ্ড এবং লাল গণহত্যা"><img width="800" height="437" src="http://www.nastikya.com/wp-content/uploads/2017/01/last-supper-800x437.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="বিচার বহির্ভূত হত্যাকাণ্ড এবং লাল গণহত্যা" title="বিচার বহির্ভূত হত্যাকাণ্ড এবং লাল গণহত্যা" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/552" title="বিচার বহির্ভূত হত্যাকাণ্ড এবং লাল গণহত্যা">বিচার বহির্ভূত হত্যাকাণ্ড এবং লাল গণহত্যা</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/552" title="12:49 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-30T12:49:22+00:00">January 30, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/552#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/549" title="আমার ছোট্ট সোনামনি, আমাকে ক্ষমা কর!"><img width="660" height="445" src="http://www.nastikya.com/wp-content/uploads/2017/01/156096_402966353156634_1343837957_n-660x445.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="আমার ছোট্ট সোনামনি, আমাকে ক্ষমা কর!" title="আমার ছোট্ট সোনামনি, আমাকে ক্ষমা কর!" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%a8%e0%a6%be%e0%a6%b0%e0%a7%80%e0%a6%ac%e0%a6%be%e0%a6%a6" style="background:#1e73be" rel="category tag">নারীবাদ</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/549" title="আমার ছোট্ট সোনামনি, আমাকে ক্ষমা কর!">আমার ছোট্ট সোনামনি, আমাকে ক্ষমা কর!</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/549" title="12:03 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-30T12:03:00+00:00">January 30, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/549#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/545" title="সবকিছু জেনে ফেলা?"><img width="620" height="350" src="http://www.nastikya.com/wp-content/uploads/2017/01/072-science-is-not-religion-650x487-620x350.png" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="সবকিছু জেনে ফেলা?" title="সবকিছু জেনে ফেলা?" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/072-science-is-not-religion-650x487-620x350.png 620w, http://www.nastikya.com/wp-content/uploads/2017/01/072-science-is-not-religion-650x487-620x350-300x169.png 300w" sizes="(max-width: 620px) 100vw, 620px" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/545" title="সবকিছু জেনে ফেলা?">সবকিছু জেনে ফেলা?</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/545" title="11:36 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-30T11:36:08+00:00">January 30, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/545#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/539" title="বাঙলাভাষার উপর বিষাক্ত ধর্মীয়, রাজনৈতিক আগ্রাসন!"><img width="800" height="445" src="http://www.nastikya.com/wp-content/uploads/2017/01/bengali-translator-indianscripts1-800x445.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="বাঙলাভাষার উপর বিষাক্ত ধর্মীয়, রাজনৈতিক আগ্রাসন!" title="বাঙলাভাষার উপর বিষাক্ত ধর্মীয়, রাজনৈতিক আগ্রাসন!" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/latest" style="background:#dd3333" rel="category tag">Latest</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/539" title="বাঙলাভাষার উপর বিষাক্ত ধর্মীয়, রাজনৈতিক আগ্রাসন!">বাঙলাভাষার উপর বিষাক্ত ধর্মীয়, রাজনৈতিক আগ্রাসন!</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/539" title="3:44 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-29T15:44:29+00:00">January 29, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/539#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/480" title="ইসলামের পৌত্তলিক ভিত্তি"><img width="800" height="445" src="http://www.nastikya.com/wp-content/uploads/2017/01/watchers32_27-800x445.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="ইসলামের পৌত্তলিক ভিত্তি" title="ইসলামের পৌত্তলিক ভিত্তি" /></a></figure>               <div class="slide-content">
                     <a href="http://www.nastikya.com/archives/480" title="ইসলামের পৌত্তলিক ভিত্তি">ইসলামের পৌত্তলিক ভিত্তি</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/480" title="3:14 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-27T15:14:39+00:00">January 27, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/480#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/467" title="একটি নতুন শান্তির ধর্ম!"><img width="800" height="445" src="http://www.nastikya.com/wp-content/uploads/2017/01/hatemail300_hitlerhammad-800x445.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="একটি নতুন শান্তির ধর্ম!" title="একটি নতুন শান্তির ধর্ম!" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a7%8d%e0%a6%af%e0%a6%be%e0%a6%9f%e0%a6%be%e0%a7%9f%e0%a6%be%e0%a6%b0"  rel="category tag">স্যাটায়ার</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/467" title="একটি নতুন শান্তির ধর্ম!">একটি নতুন শান্তির ধর্ম!</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/467" title="11:08 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T11:08:16+00:00">January 26, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/467#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/463" title="৯০ ভাগ মুসলমানের দ্বেষে"><img width="585" height="430" src="http://www.nastikya.com/wp-content/uploads/2017/01/islam-ayaan-hirsi-ali-bni-14-04-13.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="৯০ ভাগ মুসলমানের দ্বেষে" title="৯০ ভাগ মুসলমানের দ্বেষে" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/islam-ayaan-hirsi-ali-bni-14-04-13.jpg 585w, http://www.nastikya.com/wp-content/uploads/2017/01/islam-ayaan-hirsi-ali-bni-14-04-13-300x221.jpg 300w" sizes="(max-width: 585px) 100vw, 585px" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/latest" style="background:#dd3333" rel="category tag">Latest</a>&nbsp;<a href="http://www.nastikya.com/archives/category/news" style="background:#2116af" rel="category tag">News</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/463" title="৯০ ভাগ মুসলমানের দ্বেষে">৯০ ভাগ মুসলমানের দ্বেষে</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/463" title="10:37 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T10:37:31+00:00">January 26, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/463#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/460" title="মানবিক গ্রন্থ কোরান?"><img width="615" height="445" src="http://www.nastikya.com/wp-content/uploads/2017/01/hate-speech-615x445.png" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="মানবিক গ্রন্থ কোরান?" title="মানবিক গ্রন্থ কোরান?" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/460" title="মানবিক গ্রন্থ কোরান?">মানবিক গ্রন্থ কোরান?</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/460" title="10:31 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T10:31:14+00:00">January 26, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/460#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/457" title="অতঃপর তোমরা ট্রাম্পের কোন অবদানকে অস্বীকার করবে?"><img width="640" height="445" src="http://www.nastikya.com/wp-content/uploads/2017/01/1103749-DonaldTrumpVinceMcMahonMakeWWEHistoryRTuvXGWGml-1463304142-537-640x480-640x445.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="অতঃপর তোমরা ট্রাম্পের কোন অবদানকে অস্বীকার করবে?" title="অতঃপর তোমরা ট্রাম্পের কোন অবদানকে অস্বীকার করবে?" srcset="http://www.nastikya.com/wp-content/uploads/2017/01/1103749-DonaldTrumpVinceMcMahonMakeWWEHistoryRTuvXGWGml-1463304142-537-640x480-640x445.jpg 640w, http://www.nastikya.com/wp-content/uploads/2017/01/1103749-DonaldTrumpVinceMcMahonMakeWWEHistoryRTuvXGWGml-1463304142-537-640x480-392x272.jpg 392w, http://www.nastikya.com/wp-content/uploads/2017/01/1103749-DonaldTrumpVinceMcMahonMakeWWEHistoryRTuvXGWGml-1463304142-537-640x480-130x90.jpg 130w" sizes="(max-width: 640px) 100vw, 640px" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/news" style="background:#2116af" rel="category tag">News</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/457" title="অতঃপর তোমরা ট্রাম্পের কোন অবদানকে অস্বীকার করবে?">অতঃপর তোমরা ট্রাম্পের কোন অবদানকে অস্বীকার করবে?</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/457" title="10:02 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T10:02:57+00:00">January 26, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/457#respond">0</a></span>
                  </div>
               </div>

            </div>
                     <div class="single-slide displaynone">
               <figure class="slider-featured-image"><a href="http://www.nastikya.com/archives/454" title="অমুসলিমরা জাহান্নামী?"><img width="800" height="432" src="http://www.nastikya.com/wp-content/uploads/2017/01/1424476_602893093091456_1799690376_n-800x432.jpg" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="অমুসলিমরা জাহান্নামী?" title="অমুসলিমরা জাহান্নামী?" /></a></figure>               <div class="slide-content">
                  <div class="above-entry-meta"><span class="cat-links"><a href="http://www.nastikya.com/archives/category/%e0%a6%aa%e0%a7%8d%e0%a6%b0%e0%a6%b6%e0%a7%8d%e0%a6%a8%e0%a7%8b%e0%a6%a4%e0%a7%8d%e0%a6%a4%e0%a6%b0"  rel="category tag">প্রশ্নোত্তর</a>&nbsp;<a href="http://www.nastikya.com/archives/category/%e0%a6%b8%e0%a6%ae%e0%a7%8d%e0%a6%aa%e0%a6%be%e0%a6%a6%e0%a6%95%e0%a7%80%e0%a7%9f"  rel="category tag">সম্পাদকীয়</a>&nbsp;</span></div>                  <h3 class="entry-title">
                     <a href="http://www.nastikya.com/archives/454" title="অমুসলিমরা জাহান্নামী?">অমুসলিমরা জাহান্নামী?</a>
                  </h3>
                  <div class="below-entry-meta">
                     <span class="posted-on"><a href="http://www.nastikya.com/archives/454" title="9:33 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2017-01-26T09:33:02+00:00">January 26, 2017</time></a></span>                     <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://www.nastikya.com/archives/author/admin" title="আসিফ মহিউদ্দীন">আসিফ মহিউদ্দীন</a></span></span>
                     <span class="comments"><i class="fa fa-comment"></i><a href="http://www.nastikya.com/archives/454#respond">0</a></span>
                  </div>
               </div>

            </div>
               </div>
      </aside>		<aside id="recent-posts-2" class="widget widget_recent_entries clearfix">		<h3 class="widget-title"><span>Recent Posts</span></h3>




{% for post in site.posts limit:10 %}




				<a href="{{ site.baseurl }}{{ post.url }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ post.title }}</a><br />




   {% endfor %}



		</aside>



	</div>
