<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

{% include head.html %}

<body class="home blog logged-in admin-bar no-customize-support custom-background ">
<div id="page" class="hfeed site">

{% include header.html %}
{% include postbox.html %}
{% include footer.html %}
{% include script.html %}



</div>

		</body>
</html>
